* {
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
/* опорные точки раз экрана 360 768 1024 1366 1920 */
/* 
@media screen (max-width: 1024px) {

} */


body {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
.header_countainer {
    /* display: flex; */
    flex-direction: column;
    height: 2500px;
    color: #FBF8F2;
    background-color: beige;
    border-radius: 20px
}

.links, a {
    display: flex;
    justify-content: end;
    color: #000;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 85%;
    text-decoration: none;
    margin-right: 2%;
}

.link {
    /* padding-right: 2%; */
    margin: 1%;
    z-index: 2;
}
.link:hover {
    background-color: #CEC8B2;
    text-decoration-color: #CEC8B2;
    z-index: 2;
}


.plant {
    width: 20%;
    margin: 0;
    z-index: 1;
}
.plant_block{
    position: absolute;
}
.plant_pic {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
}


.plant_second {
    /* position: relative; */
}
.block_second_plant {
    position: absolute;
    /* bottom: 13.5%; */
}
.second_plant_pic {
    width: 50%;
    position: relative;
    left: 45%;
}



.border {
    display: flex;
    flex-direction: column;
    margin: 0 2%;    
    height: 20%;
    border: solid #CEC8B2 3px;
}


.summer {
    color: black;
    font-family: 'Montaga', serif;
    font-weight: 500;
    line-height: 100%;
    font-size: 3.5rem; /* 64 font-size*/
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 13%;
    z-index: 2;
    transition: font-size: 4rem, color: pink;
}

.for, .your_beauty{
    color: #000;
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
}
.for {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: -5px;
}
.your_beauty {
    font-size: 3.5rem;
    letter-spacing: 0.2em;
    font-weight: 200;
}

.blogs {
    display: flex;
}


.has_tooltip {
    color: black;
}
.has-tooltip:hover {
    color: red;
  }
.tooltip {
    position: fixed;
    display: none;
    padding: 5px;
    border: solid #CEC8B2 2px;
    background-color: beige;
    border-radius: 5px;
    color: black;
  }
  
  .tooltip_active {
    display: block;
    /* position: sticky; */
    font-family: 'Montaga' serif;
    font-size: 0.3em;
  }


.about {
    display: flex;
    color: #000;
    margin-top: 7%;
    margin-left: 10%;
    font-family: 'Montaga', serif;
    font-size: 2em;
}
.line_decor {
    width: 57%;
    border: solid 1px #CEC8B2;
    margin-left: 3%;
    border-radius: 3em;
}

.text_blog {
    display: flex;
    width: 60%;
    font-size: 1em;
    color: #000;
    margin-top: 2%;
    margin-left: 3%;
    text-indent: 2%;
    text-align: justify;
}

.picture {
    width: 30%;
}

.heand {
    position: relative;
    right: 25%;
    top: -25%; 
    display: flex;
    width: 50%;
    transform: scaleX(-1);

}

/* .decor_block {
    display: block;
    position: relative;
    left: 70%;
    top: 94%;
    border-top-left-radius: 1em;
    width: 29%;
    height: 15%;
    border: solid 2px #000;
} */