* {
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
/* опорные точки раз экрана 360 768 1024 1366 1920 */
/* 
@media screen (max-width: 1024px) {

} */


body {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
.header_countainer {
    /* display: flex; */
    flex-direction: column;
    height: 2500px;
    color: #FBF8F2;
    background-color: beige;
    border-radius: 20px
}

.links {
    display: flex;
    /* justify-content: space-between; */
    color: #000;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 80%;

}

.link {
    margin-right: 2%;
    padding: 0.2% 1%;
}
.link:hover {
    border: solid #CEC8B2 2px;
}

.border {
    display: flex;
    flex-direction: column;
    margin: 0 2%;    
    height: 20%;
    border: solid #CEC8B2 3px;
}

.summer {
    color: black;
    font-family: 'Montaga', serif;
    font-weight: 500;
    line-height: 100%;
    font-size: 3.5em; /* 64 font-size*/
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 13%;
}
.for, .your_beauty{
    color: #000;
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
}
.for {
    font-size: 3.5em;
    font-weight: 300;
    letter-spacing: -5px;
}
.your_beauty {
    font-size: 3.5em;
    letter-spacing: 0.2em;
    font-weight: 200;
}