* {
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
/* опорные точки раз экрана 360 768 1024 1366 1920 */
/* 
@media screen (max-width: 1024px) {

} */
@media (max-width: 375px) {
    .links {
        font-size: 50%;
    }
}

body {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
.header_countainer {
    flex-direction: column;
    height: 2500px;
    color: #FBF8F2;
    background: linear-gradient(45deg, beige, #fde1ee, #deecff);
    background-color: beige;
    border-radius: 20px
}

.links, a , .link {
    display: flex;
    justify-content: end;
    color: #000;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 100%;
    text-decoration: none;
    margin-right: 2%;
}
.main_menu {
    flex-direction: column;
    text-decoration: none;
    /* display: none; */
}
.first_block {
    position: absolute;
    text-decoration: none;
}

.link {
    /* padding-right: 2%; */
    margin: 1%;
    z-index: 2;
}
.link:hover {
    background-color: #CEC8B2;
    text-decoration-color: #CEC8B2;
    z-index: 2;
}


.plant {
    width: 20%;
    margin: 0;
    z-index: 1;
}
.plant_block{
    position: absolute;
}
.plant_pic {
    /* position: relative; */
    left: auto;
    top: auto;
    margin: 0;
}

.block_second_plant {
    display: block;
    position: relative;
    bottom: 13.5%;
}
.second_plant_pic {
    /* position: absolute; */
    width: 30%;
    position: relative;
    left: 45%;
}



.border {
    display: flex;
    flex-direction: column;
    margin: 0 2%;    
    height: 20%;
    border: solid #CEC8B2 3px;
}


.summer {
    color: black;
    font-family: 'Montaga', serif;
    font-weight: 500;
    line-height: 100%;
    font-size: 3.5rem; /* 64 font-size*/
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 13%;
    opacity: 1;
    transition: 3s ease-in-out;
    z-index: 2;    

}

.for, .your_beauty{
    color: #000;
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
}
.for {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: -5px;
}
.your_beauty {
    font-size: 3.5rem;
    letter-spacing: 0.2em;
    font-weight: 200;
}

.blogs {
    display: flex;
}


.about {
    display: flex;
    color: #000;
    margin-top: 7%;
    margin-right: 10%;
    font-family: 'Montaga', serif;
    font-size: 2em;
}
.about_text::after {
    content: "";
    display: block;
    background-color: #CEC8B2;
    width: 7em;
    height: 2px;
    margin: 0.1em ;
}


.text_blog {
    display: flex;
    width: 60%;
    font-size: 1em;
    color: #000;
    margin-top: 2%;
    margin-left: 3%;
    text-indent: 2%;
    text-align: justify;
}

.picture {
    width: 30%;
  
}

.heand {
    position: relative;
    right: 25%;
    top: -25%; 
    display: flex;
    width: 50%;
    transform: scaleX(-1);
    border-radius: 0px 30px;
    opacity: 0;
    transition: 2s;
}
.heand_active {
    opacity: 1;
    transition: 2s;
}


/* article block */

.name_block_counteiner{
    display: flex;
}
.name_block_news {
    display: flex;
    color: #000;
    font-size: 3em;
    margin-top: 3%;
    font-family: 'Montaga', serif;
    font-weight: 100;
}

.news_counteiner {
    display: flex;
    width: 75%;
    align-items: center;
    margin-top: 2%;
    opacity: 1;
}


.news_bloc {
    display: flex;
    flex-direction: column;
    border: solid #CEC8B2 2px;
    width: 30%;
    height: 30%;
    color: #000;
    box-shadow: 0.2em 0.4em 0.5em #bbb395;
    background: linear-gradient(#bef98d3a, #f5e4b421);
}

.name_article {
    margin: 0.7em 0em;
    font-family: 'Montaga', serif;
    font-size: 1.2em;
    color: #000;
}
.name_article::after {
    content: "";
    display: block;
    background-color: #CEC8B2;
    width: 3em;
    height: 0.1em;
    margin: 0.1em auto;
}
.article_text {
    padding: 0 4%;
    margin-bottom: 2%;
}

.picture_block {
    display: flex;
    margin-top: 2%;
    align-items: center;
    opacity: 0;
    /* width: 80%;
    height: 80%; */
}
.picture_block_active {
    opacity: 1;
    transition: 2s;
}

.article_pic{
    max-width: 80%;
    max-height: 15em;
    margin: 0 auto;
}


/* history block */
.mini_history_counteiner{
    display: flex;
    margin-top: 15%;
}


.text_histiry {
    font-family: 'Montaga' serif;
    align-items: center;

}

.left_pic_history {
    display: flex;
    margin: 0;
    width: 70%;
}

.history_side {
    display: flex;
    color: #000;
    margin: 2% 2%;
    font-size: 1.3em;
}

/* footer side */

.footer_counteiner {
    display: flex;
    color: #000;
    margin-top: 10%;
}